@use '../../../global-styles/constants.scss';

.header {
  background-color: constants.$header-color;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.title {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}

.logout-btn {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: constants.$primary-color;
  height: 26px;
  border-radius: 5px;
}

.logout-btn__text {
  font-size: 1.4rem;
  padding-left: 14px;
  padding-right: 14px;
}