@use '../../../global-styles/constants.scss';

.header {
  background-color: constants.$header-color;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.title {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}