@use './constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: Inter,sans-serif;
  font-size: 10px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../app/assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100dvh;
  color: constants.$text-color;
}

.hidden {
  opacity: 0;
  cursor: default;
}

.none {
  display: none;
}

.wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}