@use '../../../global-styles/constants.scss';

.word {
  position: relative;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: constants.$primary-color;
  height: 35px;
  transition: all 2s;
}

.left {
  position: absolute;
  top: 25%;
  left: -10px;
  width: 15px;
  height: 15px;
  background-color: constants.$bg-blue-color;
  border-radius: 100%;
}

.right {
  display: block;
  position: absolute;
  top: 25%;
  right: -8px;
  width: 15px;
  height: 15px;
  background-color: constants.$primary-color;
  border-radius: 100%;
  background-size: 700px 350px;
}

.word-body {
  display: block;
  color: #d52474;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 8px;
  background-size: 700px 350px;
  background-repeat: no-repeat;
  height: 100%;
  text-shadow: rgb(255, 255, 255) 0 0 3px;
}

.online .left {
  background-color: transparent;
}

.word_correct .word-body,
.word_correct .left {
  filter: drop-shadow(4px 2px 5px #0d9c00);
}

.word_wrong .word-body,
.word_wrong .left {
  filter: drop-shadow(4px 2px 5px #f10b0b);
}