@use '../../../../../global-styles/constants.scss';

.game-result {
  display: flex;
  position: relative;
  flex-direction: column;

  border-radius: 5px;
  border: 2px solid constants.$primary-color;
  background-color: constants.$bg-blue-color;
  background-size: contain;
}

.sentence-line {
  display: flex;
  height: 35px;
  width: 700px;
}

.image-desription {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 14px;
  text-align: right;
}