@use '../../../global-styles/constants.scss';

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 30px;
}

.start-page__content {
  margin-top: 200px;
}

.rules-text {
  font-size: 18px;
  font-weight: 500;
  width: 380px;

  text-align: center;

}

.start-btn {
  background-color: constants.$primary-color;
}