@use '../../../global-styles/constants.scss';

.hint {
  font-size: 18px;
  background-color: constants.$bg-blue-color;
  border: none;
  border-radius: 100%;
  padding: 5px 5px 1px 6px;
  box-shadow: 2px 3px 2px rgba(128, 134, 145, 0.7);
}

.translate-sentence {
  font-size: 1.3rem;
}

.material-symbols-outlined {
  font-size: 18px;
}