@use '../../../../../global-styles/constants.scss';

.game-source {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: 91px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid constants.$primary-color;
  background-color: constants.$bg-blue-color;

  column-gap: 20px;
  row-gap: 7px;
}

.dragging {
  opacity: 70%;
}